* {
    box-sizing: border-box;
}

body{
    background-color: #353A47;
}

#menu {
    float: left;
    width: 150px;
    background-color: #e1f2f0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    margin-left: 50px;
    border: 2px solid black;
}

#divMenu{
    height: 1200px;
    float: left;
}

#center {
    margin: auto;
    width: 18%;
    padding: 20px;
    text-align: center;
    margin-top: 90px;
    background-color: #D6E5E3;
    border-radius: 10px;
}

#centerAdd {
    margin: auto;
    width: 95%;
    padding: 20px;
    margin-top: 90px;
    background-color: #D6E5E3;
    border-radius: 10px;
}

li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

button{
    border: none;
    padding: 6px;
    background-color: slategrey;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: #8d97b0;
}

a:hover{
    color: darkolivegreen;
}

span {
    color: black;
}

#strojeDiv {
    float: left;
    padding: 20px;
    width: 1600px;
    display: block;
    background-color: #D6E5E3;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    border: 2px solid black;
}

#stroj {
    border-radius: 10px;
    margin-bottom: 50px;
    float: left;
    width: 30%;
    padding: 10px;
    margin-right: 10px;
    margin-left: 35px;
    height: 135px;
    background-color: #e1f2f0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#nazev {
    text-align: center;
    margin-bottom: 5px;
}

#stav {
    width: 120px;
    float: left;
}

#datum {
    float: right;
    text-align: right;
}

#celek{
    background-color: #D6E5E3;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
}

#infoStroj {
    width: 650px;
    margin-left: 32%;
    background-color: #e1f2f0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
}

#infoStrojProces {
    width: 65%;
    margin-left: 20%;
    background-color: #e1f2f0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
    margin-top: 60px;
}

#dist {
    margin-left: 50px;
}

#dist2 {
    margin-left: 82px;
}

#oSys, #oHar {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 97%;
    border-radius: 10px;
}

table {
    margin-left: 16%;
}

td {
    padding: 5px;
    text-align: center;
}

#com {
    text-align: left;
    padding-left: 50px;
}